body {
  background: #dedede;
}

.page {
  display: grid;
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [main-start] minmax(0, 1170px)
    [main-end] minmax(0, 1fr)
    [full-end];
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.2;
  color: #061b36;
  background: #dedede;
}
.page > * {
  grid-column: main;
}
.content {
  grid-column: main;
  display: grid;
  grid-template-columns:
    [full-start] minmax(15px, 1fr)
    [main-start] minmax(0, 800px)
    [main-end] minmax(15px, 1fr)
    [full-end];
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.2;
  color: #061b36;
  background: #fff;
  margin: 45px 0;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
}
.content > * {
  grid-column: main;
}
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  padding: 30px 0;
}
.title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 20px;
}
.btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-bottom: 45px;
}
.btn {
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.btn-green {
  color: #ffffff;
  background-color: #77bb2f;
  width: 100%;
  height: 41px;
}
.btn-green:hover {
  background-color: #77bb2fcf;
}
.btn-green:active {
  background-color: #77bb2f;
}
.btn-blue {
  color: #ffffff;
  background-color: #0062ff;
  width: 240px;
  height: 41px;
  margin: 0 auto;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.btn-blue:hover {
  background-color: #0062ffd4;
}
.btn-blue:active {
  background-color: #0062ff;
}
.item {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
}
.show {
  display: flex;
}
.item__title {
  text-align: center;
  margin-bottom: 20px;
}
.input {
  width: 320px;
  height: 41px;
  padding-left: 20px;
  font-size: 28px;
  line-height: 30px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
.wrap-img {
  width: 90px;
  height: 90px;
}
.wrap-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.time__text {
  margin-bottom: 10px;
}

@media all and (max-width: 500px) {
  .input {
    width: 80%;
  }
  .input::placeholder {
    font-size: 20px;
  }
  .btns {
    margin-bottom: 20px;
  }
} 
